<div class="container">
  <h1 class="title">
    {{title}}
  </h1>
  <div class="timer-group">
    <div class="timer hour">
      <div class="hand"><span></span></div>
      <div class="hand"><span></span></div>
    </div>
    <div class="timer minute">
      <div class="hand"><span></span></div>
      <div class="hand"><span></span></div>
    </div>
    <div class="timer second">
      <div class="hand"><span></span></div>
      <div class="hand"><span></span></div>
    </div>
    <div class="face">
      <p id="lazy">{{timer}}</p>
    </div>
  </div>
</div>
